In [1]:
import numpy as np
import pandas as pd

In [2]:
df_airlines = pd.read_csv('airlines.csv')
df_airports = pd.read_csv('airports.csv')
df_flights = pd.read_csv('flights.csv', low_memory=False)
df_flights_backup = df_flights.copy()

In [3]:
# backup to not rerun the read_csv again
df_flights = df_flights_backup.copy()

In [4]:
df_flights

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_airports

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

Let's clean our Datasets first by removing null values.

In [6]:
df_flights.isnull().sum()

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

In [7]:
for col in df_flights.columns:
    print(col, df_flights[col].unique())

YEAR [2015]
MONTH [ 1  2  3  4  5  6  7  8  9 10 11 12]
DAY [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
DAY_OF_WEEK [4 5 6 7 1 2 3]
AIRLINE ['AS' 'AA' 'US' 'DL' 'NK' 'UA' 'HA' 'B6' 'OO' 'EV' 'MQ' 'F9' 'WN' 'VX']
FLIGHT_NUMBER [  98 2336  840 ... 6777 6895 6887]
TAIL_NUMBER ['N407AS' 'N3KUAA' 'N171US' ... 'N7LEAA' 'N850DN' 'N8676A']
ORIGIN_AIRPORT ['ANC' 'LAX' 'SFO' 'SEA' 'LAS' 'DEN' 'SLC' 'PDX' 'FAI' 'MSP' 'PHX' 'SJU'
 'PBG' 'IAG' 'PSE' 'BQN' 'ORD' 'GEG' 'HNL' 'ONT' 'MCO' 'BOS' 'HIB' 'ABR'
 'MAF' 'DFW' 'MKE' 'IAH' 'BNA' 'BRO' 'VPS' 'BOI' 'BJI' 'SGF' 'PHL' 'SBN'
 'RDD' 'EUG' 'IAD' 'BUF' 'PWM' 'JFK' 'CRP' 'PIA' 'FAT' 'SMF' 'AUS' 'MCI'
 'ATL' 'JAX' 'MFR' 'IDA' 'MSN' 'DCA' 'SAT' 'CHS' 'SBA' 'SMX' 'IND' 'CLE'
 'GSP' 'BDL' 'ABI' 'RIC' 'BFL' 'OMA' 'RDM' 'FLL' 'CID' 'TPA' 'SYR' 'ROC'
 'TYR' 'LAN' 'XNA' 'GSO' 'EWR' 'PBI' 'RSW' 'OAK' 'PVD' 'RNO' 'PIT' 'ABQ'
 'MIA' 'BWI' 'LGA' 'TUL' 'LIT' 'MSY' 'OKC' 'ATW' 'PNS' 'MEM' 'TYS' 'MHT'
 'SAV' 'CLT' 'GRB' 'ABE' 'JAN' 'OAJ' 'FAR' 'ERI' 'LEX' 'CWA' 'MSO' 'TTN'
 'AMA' 'CLL' 'HOU' 'JLN' 'MLI' 'RDU' 'CVG' 'MHK' 'MOB' 'TLH' 'BHM' 'CAE'
 'TXK' 'ACY' 'DTW' 'RAP' 'TUS' 'EAU' 'DLH' 'FSD' 'INL' 'CMX' 'SPI' 'CLD'
 'COD' 'CMH' 'LRD' 'PSC' 'CPR' 'ACV' 'DAL' 'PAH' 'MRY' 'ESC' 'ISN' 'PSP'
 'MFE' 'STL' 'BTV' 'FSM' 'AEX' 'SPS' 'ACT' 'SJT' 'MTJ' 'GCC' 'OGG' 'SJC'
 'GUC' 'ORF' 'MOT' 'MLU' 'KOA' 'SAN' 'LAW' 'PIB' 'MGM' 'SBP' 'COS' 'LAR'
 'DRO' 'BIS' 'ITO' 'BTR' 'GRI' 'HLN' 'BZN' 'MDW' 'MDT' 'SCE' 'LIH' 'TWF'
 'BPT' 'GPT' 'STC' 'HPN' 'MLB' 'PLN' 'CIU' 'CAK' 'DSM' 'BLI' 'SHV' 'ROW'
 'FWA' 'SNA' 'ALB' 'HOB' 'LNK' 'CMI' 'COU' 'GTF' 'EKO' 'LGB' 'AVL' 'HSV'
 'SAF' 'GRR' 'SUX' 'LFT' 'HYS' 'ELP' 'DVL' 'ISP' 'BUR' 'DAB' 'DAY' 'GRK'
 'GJT' 'BMI' 'LBE' 'ASE' 'RKS' 'GUM' 'TVC' 'ALO' 'IMT' 'LCH' 'JNU' 'JAC'
 'MEI' 'DBQ' 'GCK' 'GNV' 'BRD' 'DIK' 'SDF' 'LBB' 'AVP' 'BTM' 'ELM' 'PIH'
 'ICT' 'SUN' 'LWS' 'VEL' 'STT' 'YUM' 'FLG' 'FCA' 'HDN' 'JMS' 'ROA' 'CHA'
 'EYW' 'MYR' 'CRW' 'MQT' 'CHO' 'ECP' 'EVV' 'EGE' 'MBS' 'GFK' 'TOL' 'BIL'
 'OTZ' 'KTN' 'STX' 'ILM' 'PUB' 'RHI' 'CDC' 'HRL' 'SCC' 'FNT' 'LSE' 'MMH'
 'APN' 'AGS' 'CEC' 'DHN' 'WRG' 'PHF' 'CNY' 'BRW' 'GGG' 'AZO' 'SRQ' 'ORH'
 'TRI' 'VLD' 'SIT' 'BQK' 'PSG' 'FAY' 'MKG' 'CSG' 'EWN' 'OME' 'SGU' 'RST'
 'GTR' 'BET' 'ABY' 'SWF' 'ILG' 'ADK' 'UST' 'YAK' 'CDV' 'OTH' 'ADQ' 'PPG'
 'BGM' 'BGR' 'ITH' 'ACK' 'MVY' 'WYS' 'DLG' 'AKN' 'GST' 'HYA' '14747'
 '14771' '12889' '12892' '14869' '10299' '11292' '14107' '11630' '10732'
 '14254' '10141' '10627' '11982' '12173' '13930' '14683' '12266' '11618'
 '10721' '13487' '11884' '15919' '13851' '11111' '10693' '12191' '14783'
 '15016' '14487' '10423' '15370' '11953' '13891' '15376' '11778' '11278'
 '14100' '13204' '15304' '11637' '14842' '10155' '11775' '11298' '11057'
 '13931' '10821' '14122' '11049' '10990' '10631' '13158' '14108' '13198'
 '11447' '12206' '13495' '14057' '15624' '10747' '15411' '12891' '10994'
 '13256' '10792' '14492' '12451' '13127' '10781' '14960' '12278' '14685'
 '11995' '13485' '11977' '10257' '13796' '13232' '13296' '14570' '14893'
 '14524' '12217' '10713' '10208' '10136' '11603' '14689' '11471' '11315'
 '13264' '12478' '14814' '11308' '11066' '12896' '10397' '14307' '11721'
 '11140' '10185' '13277' '11203' '13342' '11433' '11697' '12953' '10599'
 '12156' '14952' '10620' '11042' '15096' '10408' '15249' '11423' '12915'
 '12264' '12339' '10140' '13871' '14027' '13244' '11267' '11540' '14576'
 '10868' '13486' '13476' '14489' '12945' '15607' '10529' '11986' '14635'
 '13303' '10785' '15380' '11996' '10561' '10874' '13367' '10146' '10431'
 '11973' '10980' '12197' '14098' '12323' '10577' '11150' '10135' '11617'
 '13795' '13029' '11003' '11146' '11577' '15356' '11259' '10279' '14321'
 '14843' '11638' '14828' '11481' '12951' '10434' '12448' '14730' '15323'
 '14252' '11193' '10849' '14193' '14986' '11641' '12992' '13422' '11612'
 '11823' '11980' '13290' '10158' '10685' '13377' '11109' '11076' '11122'
 '11865' '14543' '14905' '11587' '14457' '12335' '12343' '12003' '10157'
 '12884' '14633' '15048' '10268' '15295' '12389' '11525' '14262' '12888'
 '12391' '11648' '14696' '12758' '13830' '10469' '15412' '10731' '14679'
 '14831' '11413' '13433' '12982' '11867' '14698' '11537' '15389' '12402'
 '11337' '13360' '13076' '14006' '10728' '15401' '13230' '12016' '11067'
 '11274' '11921' '12519' '11013' '10779' '14150' '14794' '12511' '12177'
 '12523' '14908' '12007' '14588' '13577' '13061' '15041' '14109' '10800'
 '12954' '12441' '12898' '11695' '16218' '14113' '11624' '11503' '10739'
 '14574' '14711' '12129' '15070' '14520' '13184' '11252' '12280' '13241'
 '11898' '15024' '14674' '10551' '12819' '13459' '10581' '13970' '10372'
 '10918' '14709' '12255' '11905' '10333' '15841' '13344' '13933' '15991'
 '10754' '14256' '12094' '13873' '11097' '10154' '10926' '13964' '13541'
 '15027' '10170' '10165' '15497' '12265' '14222' '14025' '13502']
DESTINATION_AIRPORT ['SEA' 'PBI' 'CLT' 'MIA' 'ANC' 'MSP' 'DFW' 'ATL' 'IAH' 'PDX' 'MCI' 'FLL'
 'ORD' 'HNL' 'PHX' 'EWR' 'JFK' 'MCO' 'BOS' 'BDL' 'ITO' 'SFO' 'KOA' 'OGG'
 'MYR' 'DTW' 'LIH' 'DEN' 'SJU' 'LAX' 'BWI' 'IAD' 'BQN' 'BUF' 'LGA' 'HOU'
 'SLC' 'PHL' 'SJC' 'OAK' 'LGB' 'TPA' 'DCA' 'TTN' 'BTR' 'LAS' 'RSW' 'BRD'
 'STL' 'RKS' 'MBS' 'SNA' 'MEI' 'MDW' 'SAN' 'RIC' 'AUS' 'OTZ' 'PIT' 'JAX'
 'MSY' 'ONT' 'PSP' 'BUR' 'DAL' 'CVG' 'SMF' 'RDU' 'JMS' 'BNA' 'DSM' 'MAF'
 'BOI' 'ELP' 'TUS' 'SCC' 'HPN' 'STT' 'MDT' 'RHI' 'SBP' 'MKE' 'JNU' 'CMH'
 'CLD' 'KTN' 'CAK' 'CRP' 'CLE' 'GPT' 'SHV' 'TYS' 'IND' 'LIT' 'SAT' 'SRQ'
 'TUL' 'GRK' 'PNS' 'BTV' 'CHS' 'DAY' 'OKC' 'SAV' 'XNA' 'COS' 'GJT' 'BZN'
 'PUB' 'HRL' 'HDN' 'MEM' 'GEG' 'ORH' 'SYR' 'GSO' 'VPS' 'LAW' 'ACY' 'LBB'
 'JAC' 'BIL' 'EUG' 'ASE' 'TVC' 'MTJ' 'CAE' 'PVD' 'HSV' 'CDC' 'YUM' 'ABQ'
 'TLH' 'MLI' 'AMA' 'EGE' 'MOB' 'JAN' 'FWA' 'MSN' 'BIS' 'MFR' 'APN' 'BHM'
 'OMA' 'LFT' 'GRR' 'MMH' 'CEC' 'SBA' 'RNO' 'CLL' 'LEX' 'LAN' 'DLH' 'SDF'
 'FAT' 'SPS' 'SGF' 'CID' 'FSM' 'MGM' 'MFE' 'AVP' 'SJT' 'ROA' 'LRD' 'MRY'
 'AGS' 'ROC' 'AEX' 'ISN' 'MLB' 'ORF' 'ICT' 'ECP' 'PIA' 'BPT' 'ACT' 'EYW'
 'FSD' 'MLU' 'CHA' 'WRG' 'FNT' 'DIK' 'MHK' 'CNY' 'BRW' 'GRB' 'ATW' 'SAF'
 'TYR' 'MKG' 'FLG' 'FCA' 'BTM' 'EVV' 'DRO' 'LNK' 'DBQ' 'FAR' 'OME' 'GSP'
 'GUC' 'MSO' 'TXK' 'MOT' 'RAP' 'ISP' 'PWM' 'GGG' 'SBN' 'BFL' 'MHT' 'ROW'
 'SIT' 'CMX' 'FAY' 'ILM' 'CMI' 'ALB' 'ABI' 'GTF' 'BMI' 'COU' 'HOB' 'GNV'
 'SUN' 'SPI' 'PSG' 'BRO' 'AVL' 'TOL' 'SGU' 'GCC' 'HLN' 'CPR' 'PIH' 'BET'
 'VEL' 'RDM' 'HYS' 'PSC' 'COD' 'INL' 'FAI' 'EKO' 'BJI' 'IDA' 'IMT' 'RST'
 'HIB' 'ABR' 'STC' 'ACV' 'ESC' 'CIU' 'SWF' 'DAB' 'TRI' 'AZO' 'CRW' 'STX'
 'GRI' 'CHO' 'GCK' 'PLN' 'LSE' 'SMX' 'RDD' 'PHF' 'LCH' 'GTR' 'LAR' 'ERI'
 'PAH' 'EAU' 'LBE' 'BLI' 'DVL' 'CWA' 'ILG' 'OAJ' 'ABE' 'ALO' 'ABY' 'DHN'
 'TWF' 'ADK' 'ELM' 'VLD' 'PIB' 'SUX' 'GUM' 'SCE' 'UST' 'BQK' 'JLN' 'LWS'
 'MQT' 'EWN' 'CSG' 'PBG' 'PSE' 'IAG' 'YAK' 'CDV' 'OTH' 'ADQ' 'PPG' 'GFK'
 'BGM' 'BGR' 'ITH' 'ACK' 'MVY' 'WYS' 'DLG' 'AKN' 'GST' 'HYA' '11298'
 '13487' '13303' '11057' '13930' '10693' '14747' '12266' '12478' '14057'
 '10397' '13198' '12173' '11618' '13204' '12402' '12758' '14771' '11292'
 '13830' '14107' '12982' '11697' '12519' '13577' '14869' '12339' '13232'
 '11259' '15016' '12892' '12889' '10140' '10721' '15304' '14679' '14100'
 '10732' '10821' '14831' '14843' '14570' '12191' '11433' '12264' '14893'
 '13796' '12953' '14122' '13495' '12451' '11042' '11278' '14908' '13342'
 '13891' '10299' '12523' '12954' '14520' '12129' '10713' '10431' '11066'
 '10994' '10423' '10792' '14683' '10800' '10551' '11193' '14307' '11540'
 '14635' '13851' '15376' '11884' '14492' '14027' '13970' '13184' '13296'
 '10599' '11986' '14698' '11423' '13244' '14574' '12992' '13241' '12217'
 '13871' '12197' '11003' '15919' '14524' '14689' '10529' '14576' '11995'
 '11267' '12819' '14633' '11996' '13256' '13158' '12448' '10781' '13422'
 '16218' '15370' '10868' '14730' '13931' '13485' '14986' '15024' '11823'
 '11721' '14685' '10257' '12206' '12255' '12951' '14709' '14321' '12391'
 '14794' '10874' '12278' '11638' '10372' '11122' '14457' '15096' '12896'
 '11109' '10279' '11481' '15412' '14814' '11641' '10980' '12945' '10990'
 '10157' '13076' '13230' '15295' '10918' '13933' '11953' '10135' '14262'
 '11067' '13277' '11603' '10561' '11612' '15624' '11977' '15380' '13367'
 '14193' '10333' '11778' '11140' '14783' '10136' '14842' '11049' '14696'
 '11695' '11637' '15401' '14674' '13061' '10685' '11982' '10469' '11921'
 '14108' '11413' '12891' '11905' '14960' '15411' '10155' '10747' '10728'
 '13290' '13433' '10208' '11973' '15323' '10849' '13360' '13795' '14952'
 '13377' '10408' '10627' '13344' '13476' '11775' '10158' '11898' '13029'
 '15249' '11337' '12915' '15356' '13264' '11252' '10185' '11624' '12323'
 '15841' '10785' '11146' '14098' '10434' '12389' '15991' '11315' '11150'
 '12884' '11537' '11274' '11076' '10754' '13873' '14828' '11308' '12007'
 '10731' '14588' '15607' '10146' '15070' '13486' '12003' '13127' '12177'
 '12441' '12094' '12156' '14113' '12280' '14489' '14256' '10620' '11097'
 '10779' '10631' '12888' '15389' '15041' '14252' '12343' '11648' '10154'
 '12898' '12335' '11865' '10926' '11980' '13964' '11630' '11013' '11587'
 '11111' '15027' '11203' '14905' '11471' '12511' '10268' '11447' '15048'
 '13541' '10141' '14150' '14006' '11617' '11525' '11867' '14711' '11577'
 '12016' '14487' '10739' '14109' '10165' '14543' '10577' '10170' '15497'
 '11503' '13459' '10581' '12265' '14254' '14222' '14025' '13502' '10666']
SCHEDULED_DEPARTURE [  5  10  20 ... 421 337 409]

DEPARTURE_TIME [2.354e+03 2.000e+00 1.800e+01 ... 3.460e+02 4.030e+02 3.540e+02]
DEPARTURE_DELAY [ -11.   -8.   -2. ...  888. 1194. 1649.]
TAXI_OUT [ 21.  12.  16.  15.  11.  18.  13.  17.  28.  25.   9.  30.  14.  10.
  nan  43.  24.  19.  22.  23.  37.  31.   7.  32.  26.  33.  42.  27.
  20.  38.   4.  29.   8.  41.  56.  48.  40.  34.   3.  36.  61.  35.
   6.  45.  39.  46.  62.  49.   5.  57.  64.  63.  47.  54.  55.  44.
  59.  50.  76. 113.  73.  58.  52.   2.  72.  51. 110.  53.  75.  84.
  77.  82.  70. 105.  69.  71.  81.  66.  80.  99.  60.  74.  95.  89.
 136. 131.  79.  68. 120.  67.  88.   1.  65. 176. 160. 104. 111. 112.
  83.  85. 121. 100.  91.  97.  93.  87. 129.  92.  90.  98. 107. 124.
 146.  86.  78. 115. 103.  94. 101. 102. 126. 116. 132. 118. 106. 130.
 109. 114. 128.  96. 141. 125. 149. 147. 122. 117. 108. 119. 137. 133.
 135. 169. 152. 139. 143. 155. 153. 127. 150. 134. 145. 170. 140. 138.
 151. 159. 168. 177. 123. 167. 156. 144. 162. 164. 171. 142. 154. 174.
 161. 165. 148. 178. 179. 175. 166. 185. 181. 225. 180. 158. 200. 157.
 173. 172. 163.]
WHEELS_OFF [ 15.  14.  34. ... 356. 346. 407.]
SCHEDULED_TIME [205. 280. 286. 285. 235. 217. 181. 273. 195. 221. 173. 268. 214. 215.
 189. 204. 210. 218. 193. 162. 338. 147. 183. 213. 207. 245. 227. 239.
 170. 370. 323. 255. 208. 123. 120. 184. 246. 224. 200. 185. 240. 174.
 186. 241. 228.  70.  49.  89.  42.  36. 175.  63. 140.  68.  69.  87.
 165. 161. 178. 150. 141. 103.  74.  66. 112.  60.  37.  65.  95. 230.
 142. 157. 125.  55. 160. 188.  90. 163. 146. 167.  88.  85. 225.  61.
  75. 212. 101. 136. 223. 122. 143. 105. 137. 104. 145. 139. 251. 209.
  77. 124. 116. 129. 190. 154.  96. 314. 194. 119. 180.  59. 149. 135.
 249. 166. 131. 341. 156. 275.  83.  50.  94.  80. 192. 148.  97. 110.
 115. 130. 270. 100. 257. 244. 404. 311. 250. 281. 114. 164. 155. 109.
 234.  73. 102. 151. 171. 168. 203. 232. 128.  84. 118. 159. 127. 317.
 304. 113. 191. 233.  82.  99. 242. 107. 126. 158.  79.  92. 134.  76.
 260. 153.  78. 117. 238.  98.  58.  52.  64.  51.  93.  72.  46. 132.
 331. 399. 319. 216. 369.  91.  81. 172. 177.  45. 199.  32. 121. 294.
 111. 133. 169. 247.  86.  71.  53. 106. 236. 295. 320. 108. 152. 299.
 329. 348. 377. 325.  57. 254. 211.  54. 301. 176. 350. 231. 330. 289.
 220. 144. 222. 206. 197. 256.  67. 202. 198. 345. 267. 322. 361. 386.
  38. 326. 385. 360. 243. 380. 324. 395. 328. 335. 371. 357. 344. 396.
 276. 313. 400. 196. 179. 403. 226. 253. 315. 343. 312. 259.  62.  35.
 430. 298. 264. 187. 292. 375. 182. 201.  56.  48. 340. 373. 310. 248.
 274. 277.  47. 138. 282. 252. 296. 229.  43. 288. 271. 266. 237. 300.
 269. 278. 265. 283.  34. 389.  39. 410. 309. 279. 372. 334. 365. 290.
 305. 316. 352. 374. 356. 308. 336. 354. 387. 402. 382. 409. 358. 405.
 303. 390. 367. 293. 306. 332. 355. 718. 284. 376. 636. 318. 384. 346.
 342. 668. 359. 513. 364. 339. 321.  33. 219. 424. 675. 379. 263. 337.
 261. 351. 333. 262. 398. 392.  44. 287. 554. 555. 500. 417. 381. 347.
 615. 258. 510.  26.  41. 440. 378. 453. 401. 460. 394. 407. 468. 307.
 353. 297. 397. 515. 383.  40. 327. 362. 272. 470. 349. 291.  23. 393.
 406. 302. 388. 570. 366. 493. 412. 391. 553. 478. 585. 518. 445. 408.
 363. 425. 450. 416. 421. 576. 419. 368. 413.  24. 415. 614. 414. 520.
 420. 679. 516. 559. 519. 444. 508. 523. 411. 441. 579. 584. 509. 479.
 522. 548. 480. 426. 449. 647.  25.  30. 565.  nan  20.  31. 418. 434.
 680. 620. 560. 506. 557. 467. 556. 491. 457. 436.  21. 462. 423. 575.
 530. 502. 514. 617. 512. 521. 459. 580. 660. 600.  22. 544. 665. 428.
 448. 496. 587. 540. 438. 451. 561. 487. 618. 455.  27. 655. 558. 471.
 640. 543. 498. 473. 437. 497. 541. 652. 482. 535. 485. 537. 469. 439.
 562. 494. 443. 465. 583.  18.  29. 545. 466. 464. 475. 427. 648. 461.
 581. 433. 550. 526. 547. 505. 503. 492. 578. 645. 588. 533. 586. 435.
 632. 676. 524. 454. 463. 458. 604. 507. 602. 446. 616. 517. 477. 611.
 542. 646. 683. 456. 705.]
ELAPSED_TIME [194. 279. 293. 281. 215. 230. 170. 249. 193. 203. 149. 266. 210. 199.
 198. 200. 217. 201. 186. 143. 347. 147. 276. 163. 175. 218. 220. 224.
 208. 234.  nan 231. 385. 322. 241. 248. 191. 125. 209. 178. 264. 183.
 247. 196. 243. 258. 232.  74.  51.  85.  48.  36. 182.  55. 134.  78.
  67. 168. 155. 189. 150. 137. 106.  72.  57. 110.  35.  70. 142. 157.
 138.  44. 146. 167. 180. 153.  52.  75.  80. 164.  84. 114. 101. 103.
 132. 188. 113. 144. 136. 197.  59. 190.  66. 202. 104. 122. 128. 133.
  99. 282. 109. 179.  61. 172.  76. 223. 177. 343. 251. 269.  73.  50.
  83.  93.  90. 160. 120. 152.  79. 131. 130. 135.  88. 145.  81. 270.
 256. 141. 242. 165. 396. 291. 227. 173. 294. 174. 181. 151. 127. 102.
  68. 226. 156. 222. 124. 108.  94. 166. 162. 239. 246. 139. 118. 212.
 126. 280. 300.  91. 171.  92. 274.  97. 119.  95.  63. 262. 148. 115.
  53.  96. 112. 158.  58. 237.  65. 121.  77.  39.  86. 317. 378. 287.
  87. 111. 400. 373. 169. 184. 161. 117.  40. 211. 236.  56. 204. 205.
  64.  47. 207. 261.  82.  42.  45.  60. 140. 272. 283. 206.  89. 129.
 105. 107. 116. 185. 187. 238.  54.  98.  30. 363. 308. 321. 355. 100.
 384. 307.  71. 123.  49. 252. 221. 286. 374. 316. 253. 351.  69. 277.
 176. 339. 292. 356. 380. 315. 392. 192. 338. 240. 324. 397. 412. 337.
 195. 328. 216. 289. 288. 388. 267. 386. 254. 159. 233. 260. 320. 275.
 244. 335. 290. 435. 219. 214. 259.  34. 364. 301.  46. 297. 250. 245.
 284. 332. 255. 213. 271. 154. 331. 235.  62. 310.  38. 263.  29. 359.
  43. 329. 305. 225. 391. 453. 353. 341. 394. 323. 303. 414. 314. 362.
 346. 387. 298. 313. 415. 365. 299. 357. 326. 327. 265. 312. 375. 296.
 330. 416.  31. 419. 302.  41. 352. 257. 350. 285. 349. 268. 273. 711.
 404. 228. 651. 345. 229. 402. 295. 405. 409. 344. 319. 367. 647. 376.
 521. 306. 369. 334. 381. 434. 660. 377. 372. 318. 361. 398. 340. 389.
 390. 368. 336. 555. 354. 366. 539. 342. 325. 408. 502. 383. 605. 311.
 520. 370.  24.  37. 431. 427. 379. 444. 436. 455. 448. 410. 517. 382.
 333. 309. 526.  33. 358. 360. 413. 452. 425.  23. 395. 278.  32. 407.
 401. 566. 304. 411. 477. 430. 536. 348. 481. 575. 371. 446. 406. 417.
 442. 445. 459. 433. 403. 421. 420. 422. 399. 426. 423. 439. 424. 429.
 706. 646. 662. 523. 462. 569. 547. 630. 504. 460. 468. 519. 544. 470.
 393.  27. 473. 550. 466. 559. 454. 428. 440.  28. 709. 638. 418. 661.
 712. 577. 602. 496. 628. 525.  18. 461. 451. 513. 501. 471.  21. 585.
 489. 545. 486. 572. 463. 438. 576. 667. 634. 653. 511. 432. 681. 579.
 561. 483. 600. 492. 500.  19. 541. 467. 581. 516. 441.  25. 704. 676.
 506. 688. 551. 535. 475. 617.  17. 505. 552. 530. 527. 443. 469. 703.
 724. 491. 716. 484. 450. 591. 580. 472. 476. 556. 458. 449. 565. 686.
 689. 554. 589. 499. 480. 494. 507. 465. 557. 478. 518. 574. 683. 677.
 593. 508. 495.  26.  20. 437. 456. 707. 718. 474. 570. 598. 447. 503.
 671. 652. 538. 583. 498. 514. 568. 657. 497. 534. 582. 650. 532. 614.
 510. 488. 571. 656. 606. 479. 564. 679. 528. 464. 512. 659. 542. 604.
 509. 529. 663. 543. 674. 682. 613. 643. 694. 684. 615. 524. 670. 611.
 567. 515. 490. 457. 641. 594. 482. 522. 493. 599.  22. 578. 485. 531.
 640. 639. 537. 588. 558. 609. 540. 698. 607. 549. 586. 648. 590. 685.
 633. 673. 690. 632. 678. 621. 665. 553. 766. 714. 563. 546. 696. 700.
 727. 715. 595. 487. 654. 699. 713. 612. 702. 680. 687. 675. 596. 562.
 669. 691. 668. 601.  15. 658. 608. 584. 629. 548.  16. 624. 642. 620.
 587. 573. 597. 649. 697. 708. 610. 731. 619. 664. 622. 710. 560. 625.
 616. 733. 644. 626. 627. 636. 719. 637. 726. 623. 631. 672. 592. 645.
 533. 666. 735. 655. 635. 618. 603.  14. 695. 692. 730. 693. 721.]
AIR_TIME [169. 263. 266. 258. 199. 206. 154. 228. 173. 186. 133. 238. 188. 176.
 166. 171. 187. 128. 311. 255. 150. 156. 205. 217.  nan 182. 148. 361.
 298. 220. 170. 231. 174. 103. 149. 239. 183. 225. 160. 224. 163. 237.
 214.  39.  35.  61.  30. 179.  20. 147.  38. 112.  41. 146. 132. 111.
  66.  49.  42.  79.  34.  21. 210. 125. 138.  96.  22. 143. 127. 142.
 194.  56.  50. 184.  33.  54. 129.  95. 178.  84. 105. 109. 158.  72.
  36. 107. 152.  44. 180.  86.  91. 120. 104. 134.  27.  78. 234. 118.
  46. 159.  28. 110.  58. 195. 198. 130. 162. 310. 131. 216. 243.  43.
  48.  25.  65.  92. 123. 100. 135.  57.  90.  88. 114. 175.  63. 230.
  76. 253. 222. 126.  52. 376. 268. 201. 155. 273.  87. 137. 124. 106.
  80. 151. 139. 190.  82. 202.  99. 141.  60. 145. 157. 140.  62. 117.
  97.  68. 280.  75. 213. 144.  85. 196.  45.  69. 248. 153.  98.  51.
  37.  47. 209.  64.  73.  67. 108. 119.  89.  24. 115.  55. 292. 355.
  83.  23.  31. 193. 368. 116.  59. 165.  93. 252. 122. 279.  74. 207.
 244. 121. 251. 172.  15.  77. 161. 200.  70.  40.  18.  53. 339.  81.
 286. 212. 289. 334. 232. 136. 358. 284. 245. 229.  71. 218. 342. 303.
 221.  26. 211. 164. 264. 327. 256. 274. 262. 321. 242. 271. 299. 328.
 340. 350. 236. 360. 301. 208.  94. 317. 250. 306. 295. 390. 308. 167.
 356. 197. 336. 362. 320. 272. 373. 269. 247. 343. 227.  32.  29. 285.
 313. 305. 113. 270. 409. 333. 204. 282. 185. 240. 181. 260. 101. 345.
 277. 168. 191. 307. 322. 259. 226. 304. 189. 300. 276. 203. 241. 223.
 283. 102. 249.  17. 233. 353. 177. 324.  19. 369. 388. 257. 332. 396.
 346. 192. 312. 265. 254. 290. 352. 278. 337. 287. 261. 294. 296. 281.
 302. 219. 297. 392. 291. 386. 326. 315. 331. 347. 669. 375. 348. 621.
 267. 359. 325. 378. 381. 374. 620. 492. 275. 246. 341. 215. 357. 416.
 314. 639. 329. 519. 319. 335. 510. 323. 349. 485. 365. 364. 338. 573.
 235. 490. 371. 293. 354.  14. 367. 288. 398. 401. 351. 417. 377. 414.
 411. 429. 385. 318. 316. 309. 499. 366. 389. 434.  16. 384. 379. 543.
 344. 456. 403. 517. 393. 442. 546. 363. 483. 420. 370. 407. 419. 330.
 423. 418. 391. 382. 545. 397. 405. 664. 622. 626. 402. 676. 533. 522.
 380. 602. 426. 421. 430. 443. 494. 511. 441.  13. 372. 452. 523. 444.
 530. 481. 387. 383. 395. 400. 653. 612. 608. 503. 659. 539. 475. 580.
 484.  11. 427. 470. 448. 437. 551. 459. 454. 540. 496. 422. 412. 648.
 616. 623. 525. 529. 461. 569. 486.  10. 464. 431.  12. 531. 515. 450.
 524. 487. 534. 399. 667. 603. 642. 655. 521. 506. 583.   9. 460. 446.
 501. 432. 424. 410. 518. 657. 638. 473. 658. 570. 435. 474. 438. 552.
 445. 526. 491. 537. 654. 632. 477.   8. 489. 440. 433. 415. 425. 631.
 647. 561. 488. 482. 527. 644. 568. 394. 480. 476. 627. 516. 505. 468.
 428. 406. 479. 512. 436. 547. 413. 629. 597. 633. 634. 504. 553. 538.
 478. 502. 577. 495. 613. 493. 439. 549. 455. 566. 500. 541. 567. 609.
 630. 497. 571. 465. 467. 649. 660. 544. 593. 404. 535. 457. 520. 625.
 661. 594. 472. 563. 408. 628. 581. 462. 598. 615. 469. 614. 572. 449.
 643. 548. 542. 617. 466. 560. 624. 507. 550. 451. 498. 536. 591. 670.
 595. 513. 656. 556. 636. 665. 584. 618. 586. 528. 509. 574. 652. 666.
 576. 447. 458. 683. 668. 555. 564. 684. 532. 575. 508. 645. 471. 650.
 453. 637. 562.   7. 559. 463. 635. 607. 514. 611. 604. 605. 663. 601.
 646. 585. 641. 588. 682. 671. 687. 587. 554. 582. 606. 690. 679. 578.
 558. 590. 619. 579. 662. 589. 640. 557. 565. 610. 592. 599. 596. 600.
 651. 678. 674. 672.]

DISTANCE [1448 2330 2296 ...  876 1100 1672]
WHEELS_ON [404. 737. 800. ... 318. 324. 322.]
TAXI_IN [  4.  11.   8.   5.   6.   3.   7.   2.  40.  10.  nan  12.   9.  13.
  19.  14.  15.  30.  17.  16.  23.  52.  21.  26.  80.  29.  24.  20.
  22.  18.  32.  55.  33.  34.   1.  27.  28.  25.  36.  41.  39.  37.
  61.  74.  58.  31.  46.  42.  44.  35.  43.  45.  56.  48.  38.  53.
  59.  50.  49.  67.  47.  70.  51.  84.  62.  54.  60. 103.  63.  66.
  82.  57.  91.  72.  64.  69. 111.  65.  78.  68.  79.  95.  88.  89.
  71.  90.  77.  76.  73.  87.  75.  93.  83.  81.  96. 105.  92.  86.
  97. 122. 146. 123. 127. 138. 124. 136. 100. 134. 109. 101. 112. 133.
 142. 117. 115. 170. 120. 149. 179. 128. 135.  85. 137. 108. 174. 141.
 158. 145. 167. 106. 113. 107.  99. 154. 126. 125.  98. 104. 114. 144.
 102. 162. 151. 140. 119. 148. 143.  94. 152. 130. 132. 157. 129. 121.
 139. 110. 197. 147. 131. 163. 116. 118. 180. 153. 177. 173. 184. 160.
 202. 178. 175. 150. 155. 176. 164. 166. 156. 181. 183. 168. 169. 172.
 161. 171. 165. 248.]
SCHEDULED_ARRIVAL [430 750 806 ... 324 332 241]
ARRIVAL_TIME [408. 741. 811. ... 328. 317. 357.]
ARRIVAL_DELAY [ -22.   -9.    5. ... 1115. 1372. 1076.]
DIVERTED [0 1]
CANCELLED [0 1]
CANCELLATION_REASON [nan 'A' 'B' 'C' 'D']
AIR_SYSTEM_DELAY [      nan 2.500e+01 4.300e+01 0.000e+00 2.000e+01 1.700e+01 1.300e+01
 7.000e+00 2.200e+01 1.400e+01 4.000e+00 6.000e+00 1.600e+01 2.700e+01
 1.200e+01 2.000e+00 1.500e+01 1.800e+01 3.200e+01 8.500e+01 3.000e+00
 5.000e+00 8.600e+01 5.800e+01 3.500e+01 3.400e+01 3.300e+01 1.100e+01
 9.000e+00 2.600e+01 2.800e+01 4.000e+01 2.300e+01 1.900e+01 2.400e+01
 9.700e+01 2.900e+01 2.100e+01 1.000e+00 1.000e+01 8.000e+00 3.000e+01
 6.700e+01 4.800e+01 6.500e+01 3.100e+01 4.100e+01 4.200e+01 3.900e+01
 3.600e+01 5.100e+01 8.100e+01 4.600e+01 1.640e+02 5.200e+01 8.800e+01
 4.900e+01 4.500e+01 3.700e+01 5.000e+01 5.400e+01 5.900e+01 1.380e+02
 5.300e+01 7.200e+01 6.800e+01 7.700e+01 6.100e+01 6.000e+01 4.400e+01
 3.800e+01 7.600e+01 4.700e+01 7.300e+01 5.700e+01 7.400e+01 8.700e+01
 5.600e+01 6.300e+01 1.350e+02 1.200e+02 1.160e+02 1.690e+02 6.600e+01
 1.520e+02 9.600e+01 5.500e+01 9.800e+01 2.830e+02 1.370e+02 8.200e+01
 8.900e+01 6.900e+01 1.060e+02 1.790e+02 7.000e+01 1.000e+02 9.100e+01
 1.240e+02 1.290e+02 9.200e+01 8.000e+01 1.440e+02 9.000e+01 1.040e+02
 7.100e+01 1.030e+02 6.400e+01 6.200e+01 1.360e+02 1.540e+02 9.900e+01
 9.500e+01 1.570e+02 8.400e+01 1.270e+02 7.800e+01 7.900e+01 1.950e+02
 9.300e+01 3.790e+02 1.410e+02 1.460e+02 5.320e+02 1.020e+02 1.330e+02
 1.990e+02 1.050e+02 8.300e+01 1.550e+02 1.500e+02 1.760e+02 1.150e+02
 5.130e+02 7.500e+01 2.750e+02 2.060e+02 2.360e+02 5.700e+02 2.070e+02
 1.670e+02 1.130e+02 1.220e+02 1.510e+02 2.480e+02 2.390e+02 1.710e+02
 1.390e+02 1.120e+02 1.320e+02 1.870e+02 1.830e+02 4.840e+02 2.130e+02
 1.110e+02 1.230e+02 1.080e+02 2.050e+02 1.880e+02 1.010e+02 1.070e+02
 2.630e+02 1.190e+02 1.860e+02 4.760e+02 1.310e+02 1.140e+02 1.090e+02
 1.400e+02 1.280e+02 1.260e+02 1.430e+02 1.210e+02 1.100e+02 9.400e+01
 1.780e+02 5.210e+02 2.120e+02 1.170e+02 1.750e+02 2.010e+02 1.850e+02
 1.180e+02 1.610e+02 1.530e+02 1.340e+02 1.650e+02 1.630e+02 2.370e+02
 1.660e+02 1.810e+02 1.770e+02 1.840e+02 2.330e+02 3.000e+02 1.560e+02
 2.320e+02 2.710e+02 1.420e+02 1.580e+02 2.200e+02 4.960e+02 1.910e+02
 3.080e+02 2.540e+02 2.530e+02 1.960e+02 1.600e+02 3.410e+02 2.110e+02
 1.900e+02 1.720e+02 2.340e+02 1.450e+02 1.730e+02 1.300e+02 2.510e+02
 1.250e+02 1.970e+02 5.900e+02 2.280e+02 1.890e+02 1.590e+02 3.690e+02
 1.480e+02 1.490e+02 2.160e+02 2.430e+02 1.470e+02 1.980e+02 2.310e+02
 2.730e+02 3.470e+02 3.360e+02 2.140e+02 2.580e+02 1.680e+02 2.550e+02
 2.440e+02 3.640e+02 2.300e+02 2.240e+02 3.670e+02 4.300e+02 2.250e+02
 2.900e+02 1.920e+02 4.350e+02 2.270e+02 2.020e+02 1.820e+02 2.460e+02
 2.880e+02 2.620e+02 2.920e+02 2.650e+02 3.060e+02 2.970e+02 2.230e+02
 3.090e+02 3.990e+02 1.800e+02 2.760e+02 3.840e+02 2.720e+02 3.590e+02
 3.340e+02 4.080e+02 2.560e+02 1.740e+02 2.170e+02 4.470e+02 2.450e+02
 2.410e+02 2.950e+02 3.880e+02 1.930e+02 1.620e+02 3.540e+02 3.770e+02
 2.380e+02 4.260e+02 2.500e+02 2.470e+02 1.700e+02 2.350e+02 8.240e+02
 2.770e+02 2.570e+02 2.220e+02 3.250e+02 2.040e+02 2.100e+02 2.290e+02
 4.430e+02 3.710e+02 2.030e+02 4.330e+02 2.640e+02 3.160e+02 3.680e+02
 5.570e+02 4.610e+02 8.300e+02 5.250e+02 2.910e+02 2.940e+02 4.450e+02
 2.850e+02 3.010e+02 3.140e+02 3.210e+02 2.260e+02 2.000e+02 4.980e+02
 7.480e+02 3.630e+02 3.260e+02 2.660e+02 3.760e+02 4.230e+02 4.520e+02
 3.510e+02 2.180e+02 3.440e+02 2.780e+02 3.070e+02 7.380e+02 2.080e+02
 2.840e+02 3.270e+02 4.510e+02 3.190e+02 1.940e+02 2.600e+02 3.020e+02
 3.230e+02 4.020e+02 4.240e+02 2.150e+02 2.520e+02 3.580e+02 3.300e+02
 3.620e+02 2.090e+02 6.430e+02 6.240e+02 4.860e+02 4.220e+02 2.800e+02
 2.690e+02 4.160e+02 2.590e+02 2.960e+02 2.610e+02 4.920e+02 3.310e+02
 5.880e+02 5.930e+02 3.800e+02 7.390e+02 3.730e+02 3.240e+02 5.340e+02
 5.500e+02 4.930e+02 2.890e+02 3.040e+02 2.400e+02 2.930e+02 3.290e+02
 6.830e+02 3.750e+02 5.890e+02 4.150e+02 3.170e+02 2.700e+02 3.550e+02
 2.870e+02 2.740e+02 2.670e+02 2.210e+02 4.580e+02 3.420e+02 5.990e+02
 5.630e+02 3.200e+02 3.030e+02 5.150e+02 6.000e+02 4.890e+02 4.040e+02
 3.130e+02 3.490e+02 3.100e+02 2.790e+02 3.700e+02 4.000e+02 2.820e+02
 3.600e+02 3.330e+02 6.690e+02 3.280e+02 3.320e+02 4.130e+02 4.030e+02
 2.980e+02 3.570e+02 2.810e+02 3.400e+02 3.050e+02 4.170e+02 4.970e+02
 4.090e+02 1.101e+03 4.400e+02 3.180e+02 4.310e+02 6.020e+02 3.370e+02
 3.720e+02 2.190e+02 3.950e+02 2.490e+02 3.890e+02 3.900e+02 3.940e+02
 3.810e+02 2.860e+02 2.680e+02 3.120e+02 2.990e+02 3.930e+02 4.180e+02
 5.360e+02 3.660e+02 3.870e+02 5.230e+02 3.530e+02 3.380e+02 8.550e+02
 3.610e+02 3.830e+02 8.620e+02 8.880e+02 8.720e+02 4.530e+02 5.780e+02
 3.850e+02 5.180e+02 2.420e+02 5.160e+02 3.500e+02 4.110e+02 4.380e+02
 3.430e+02 3.150e+02 3.560e+02 4.200e+02 4.550e+02 3.450e+02 3.970e+02
 4.720e+02 4.480e+02 3.110e+02 3.980e+02 4.140e+02 6.060e+02 6.040e+02
 6.220e+02 3.220e+02 3.460e+02 6.280e+02 4.060e+02 5.110e+02 4.100e+02
 8.500e+02 3.480e+02 6.990e+02 3.920e+02 4.370e+02 3.860e+02 4.730e+02
 5.060e+02 4.670e+02 6.760e+02 7.140e+02 5.560e+02 4.810e+02 9.910e+02
 7.280e+02 3.390e+02 4.360e+02 7.180e+02 4.870e+02 6.950e+02 7.980e+02
 6.210e+02 6.250e+02 6.400e+02 7.060e+02 4.280e+02 6.120e+02 4.340e+02
 4.830e+02 4.460e+02 3.520e+02 3.350e+02 4.710e+02 3.740e+02 3.910e+02
 4.660e+02 4.420e+02 5.100e+02 3.960e+02 4.320e+02 5.440e+02 5.950e+02
 6.850e+02 4.490e+02 7.620e+02 4.560e+02 7.840e+02 6.640e+02 6.140e+02
 4.820e+02 7.640e+02 3.650e+02 5.670e+02 7.260e+02 9.160e+02 4.940e+02
 5.550e+02 3.820e+02 4.050e+02 1.134e+03 5.270e+02 6.740e+02 6.750e+02
 5.370e+02 4.390e+02 4.250e+02 5.740e+02 5.280e+02 5.730e+02 4.010e+02
 4.700e+02 5.410e+02 5.770e+02 4.590e+02 4.210e+02 7.770e+02 7.790e+02
 4.440e+02 4.880e+02 5.710e+02 4.070e+02 4.690e+02 1.049e+03 7.910e+02
 6.800e+02 5.430e+02 5.170e+02 3.780e+02 4.910e+02 4.780e+02 4.640e+02
 4.620e+02 5.450e+02 4.500e+02 4.770e+02]
SECURITY_DELAY [ nan   0.  46. 107.  11.  10.  30.  19.   6.   1.   2.   9.  17.  34.
  35.  15.  28.  12.  27.  16.  99.  56.  20.  58.   7.  61.  13.   3.
  14.  23.  21.   4.  54.  52.  53.  64.  24.  18.  50.  96.  62.  26.
  32.  22.   5.  29.  39.  63.  45.  25.  80.  91.  59.  73.  31.   8.
  40. 104.  36.  41. 237. 227.  68.  71.  47.  43.  55.  75.  37.  98.
  57. 241.  92.  78.  42.  38.  97. 168. 141. 142.  33.  90.  51. 140.
  69. 121. 190.  88. 123.  79. 204.  77. 158. 160. 215. 221.  49.  44.
  94.  84.  65.  86. 102.  76.  81. 205. 101.  95.  85. 116.  48. 175.
  67. 126.  66.  72. 138.  74. 103. 118. 154. 191.  60. 148. 214. 196.
 135. 256. 110. 124. 203. 120. 164. 186.  93.  83.  70. 181. 122.  82.
 108. 573. 128.  89. 106. 440. 127. 171. 129. 133. 149.  87. 364. 144.
 105.]
AIRLINE_DELAY [  nan    0.   15. ...  879. 1185. 1636.]
LATE_AIRCRAFT_DELAY [      nan 0.000e+00 8.800e+01 3.100e+01 3.060e+02 3.000e+00 8.000e+00
 7.000e+00 5.000e+00 1.200e+01 2.000e+01 1.100e+01 1.900e+01 2.900e+01
 4.800e+01 2.500e+01 1.300e+01 7.500e+01 2.350e+02 1.000e+01 6.000e+00
 6.200e+01 8.000e+01 1.600e+01 1.010e+02 3.700e+01 7.400e+01 1.400e+01
 7.700e+01 6.300e+01 4.000e+01 1.840e+02 5.600e+01 1.400e+02 3.900e+01
 2.600e+01 6.500e+01 4.670e+02 8.900e+01 1.000e+02 3.300e+01 4.000e+00
 1.270e+02 1.160e+02 2.000e+00 9.000e+00 7.800e+01 2.100e+01 7.600e+01
 1.800e+01 7.300e+01 5.900e+01 1.000e+00 1.210e+02 1.220e+02 4.200e+01
 2.200e+01 2.300e+01 2.800e+01 1.740e+02 2.400e+01 1.280e+02 1.020e+02
 6.700e+01 6.100e+01 2.640e+02 1.500e+01 3.500e+01 3.400e+01 4.300e+01
 1.660e+02 4.100e+01 2.700e+01 5.700e+01 1.700e+01 7.100e+01 3.800e+01
 3.600e+01 5.200e+01 3.000e+01 1.250e+02 5.100e+01 4.600e+01 1.230e+02
 4.400e+01 8.200e+01 6.000e+01 1.180e+02 1.440e+02 4.500e+01 2.490e+02
 9.900e+01 8.300e+01 1.990e+02 1.260e+02 9.200e+01 5.300e+01 6.600e+01
 2.170e+02 3.050e+02 5.000e+01 1.150e+02 4.700e+01 1.050e+02 3.200e+01
 1.380e+02 7.000e+01 1.710e+02 4.900e+01 1.190e+02 8.100e+01 7.200e+01
 1.060e+02 9.600e+01 1.640e+02 1.330e+02 1.140e+02 1.850e+02 5.400e+01
 9.100e+01 9.800e+01 1.110e+02 1.310e+02 1.070e+02 8.500e+01 6.900e+01
 5.500e+01 5.800e+01 2.990e+02 8.600e+01 1.960e+02 8.700e+01 9.400e+01
 6.800e+01 1.290e+02 1.590e+02 2.760e+02 1.090e+02 1.860e+02 9.500e+01
 2.450e+02 1.820e+02 6.400e+01 1.080e+02 9.000e+01 1.100e+02 1.300e+02
 1.630e+02 1.200e+02 2.750e+02 1.040e+02 8.400e+01 1.510e+02 2.050e+02
 1.730e+02 1.490e+02 7.170e+02 3.560e+02 5.360e+02 7.900e+01 1.680e+02
 1.610e+02 2.930e+02 1.930e+02 2.090e+02 1.240e+02 9.700e+01 1.350e+02
 2.000e+02 1.370e+02 1.580e+02 3.640e+02 1.690e+02 1.320e+02 2.630e+02
 2.560e+02 1.720e+02 2.140e+02 2.030e+02 3.010e+02 1.450e+02 2.110e+02
 9.300e+01 1.170e+02 1.500e+02 1.830e+02 2.310e+02 1.530e+02 2.420e+02
 1.520e+02 1.670e+02 1.800e+02 2.100e+02 1.870e+02 2.040e+02 1.480e+02
 1.620e+02 1.700e+02 1.650e+02 1.430e+02 2.230e+02 3.150e+02 1.810e+02
 1.560e+02 1.340e+02 1.750e+02 2.920e+02 1.030e+02 3.430e+02 1.770e+02
 1.550e+02 1.130e+02 1.600e+02 1.120e+02 7.360e+02 1.390e+02 2.260e+02
 2.010e+02 3.910e+02 1.950e+02 2.660e+02 8.910e+02 2.080e+02 2.340e+02
 4.440e+02 3.140e+02 3.090e+02 6.720e+02 1.780e+02 2.210e+02 2.060e+02
 2.330e+02 3.080e+02 2.380e+02 2.710e+02 3.000e+02 1.570e+02 1.360e+02
 3.540e+02 2.220e+02 2.480e+02 3.370e+02 2.270e+02 1.540e+02 2.910e+02
 2.240e+02 1.470e+02 2.600e+02 4.480e+02 1.980e+02 4.640e+02 3.100e+02
 2.820e+02 1.880e+02 3.170e+02 2.290e+02 3.390e+02 2.530e+02 1.900e+02
 1.420e+02 1.920e+02 2.390e+02 1.890e+02 3.680e+02 3.260e+02 2.650e+02
 2.300e+02 1.410e+02 1.460e+02 1.790e+02 1.970e+02 4.940e+02 3.810e+02
 3.160e+02 1.910e+02 3.030e+02 2.200e+02 3.840e+02 1.760e+02 2.970e+02
 3.180e+02 2.130e+02 2.540e+02 4.280e+02 4.380e+02 1.940e+02 4.500e+02
 2.160e+02 2.470e+02 2.740e+02 2.020e+02 2.690e+02 4.550e+02 2.830e+02
 2.580e+02 2.180e+02 2.370e+02 3.400e+02 2.520e+02 2.890e+02 2.500e+02
 2.510e+02 2.120e+02 2.960e+02 2.940e+02 2.410e+02 2.360e+02 2.250e+02
 2.070e+02 2.610e+02 2.730e+02 2.430e+02 4.300e+02 2.800e+02 3.940e+02
 3.310e+02 2.720e+02 3.630e+02 2.620e+02 2.400e+02 2.190e+02 3.320e+02
 3.510e+02 2.150e+02 2.880e+02 3.420e+02 3.070e+02 2.460e+02 8.630e+02
 3.960e+02 3.020e+02 2.860e+02 2.790e+02 3.040e+02 2.900e+02 2.870e+02
 3.190e+02 2.950e+02 3.450e+02 7.090e+02 3.760e+02 4.070e+02 3.360e+02
 2.440e+02 2.550e+02 7.290e+02 6.200e+02 2.840e+02 3.670e+02 3.730e+02
 3.820e+02 3.290e+02 3.470e+02 3.110e+02 2.590e+02 2.680e+02 3.250e+02
 2.700e+02 2.320e+02 3.230e+02 2.850e+02 2.280e+02 2.670e+02 5.020e+02
 2.810e+02 5.550e+02 5.000e+02 5.060e+02 4.920e+02 2.770e+02 5.170e+02
 3.530e+02 4.310e+02 4.330e+02 4.170e+02 9.380e+02 2.980e+02 3.220e+02
 4.340e+02 3.270e+02 3.990e+02 3.570e+02 4.000e+02 4.650e+02 4.660e+02
 3.980e+02 5.290e+02 7.160e+02 3.650e+02 3.830e+02 4.820e+02 5.880e+02
 5.830e+02 4.290e+02 4.350e+02 3.330e+02 2.570e+02 3.240e+02 3.610e+02
 8.870e+02 5.910e+02 3.710e+02 3.690e+02 5.040e+02 5.490e+02 5.450e+02
 5.600e+02 9.480e+02 3.120e+02 7.150e+02 3.200e+02 8.640e+02 3.860e+02
 4.250e+02 2.780e+02 6.350e+02 4.030e+02 3.350e+02 4.730e+02 3.800e+02
 3.340e+02 3.410e+02 3.660e+02 5.980e+02 4.600e+02 3.300e+02 4.390e+02
 6.550e+02 3.620e+02 6.140e+02 3.930e+02 5.720e+02 3.500e+02 9.250e+02
 5.510e+02 6.150e+02 4.270e+02 4.840e+02 5.410e+02 3.480e+02 7.010e+02
 3.130e+02 1.174e+03 4.420e+02 1.020e+03 4.130e+02 4.870e+02 4.990e+02
 7.590e+02 4.180e+02 3.920e+02 4.510e+02 4.490e+02 5.690e+02 3.440e+02
 4.230e+02 6.290e+02 7.520e+02 3.380e+02 7.380e+02 5.370e+02 7.610e+02
 1.256e+03 3.890e+02 8.580e+02 4.080e+02 5.150e+02 1.313e+03 4.890e+02
 3.790e+02 4.040e+02 4.160e+02 4.760e+02 6.490e+02 5.050e+02 3.600e+02
 1.039e+03 4.120e+02 4.680e+02 3.590e+02 4.360e+02 3.280e+02 4.800e+02
 4.020e+02 6.240e+02 4.150e+02 4.690e+02 3.210e+02 3.970e+02 3.750e+02
 5.680e+02 4.700e+02 7.270e+02 4.750e+02 5.190e+02 4.580e+02 4.200e+02
 4.810e+02 4.410e+02 4.190e+02 6.590e+02 3.490e+02 4.570e+02 3.580e+02
 3.900e+02 4.950e+02 4.590e+02 1.102e+03 5.460e+02 5.350e+02 5.400e+02
 4.210e+02 6.180e+02 7.560e+02 5.140e+02 7.910e+02 5.130e+02 7.630e+02
 4.140e+02 4.050e+02 5.200e+02 6.420e+02 6.360e+02 7.240e+02 4.370e+02
 6.900e+02 3.880e+02 5.180e+02 3.550e+02 4.400e+02 4.220e+02 4.470e+02
 5.810e+02 8.840e+02 3.720e+02 8.990e+02 4.560e+02 7.990e+02 6.980e+02
 4.850e+02 1.294e+03 7.280e+02 3.870e+02 5.940e+02 9.390e+02 5.790e+02
 5.990e+02 5.320e+02 5.860e+02 5.670e+02 4.060e+02 4.910e+02 6.400e+02
 5.260e+02 3.700e+02 4.010e+02 5.700e+02 7.650e+02 4.930e+02 4.900e+02
 5.640e+02 7.040e+02 6.130e+02 4.880e+02 6.010e+02 4.770e+02 6.280e+02
 5.570e+02 4.710e+02 1.331e+03 1.164e+03 8.000e+02 6.920e+02 4.260e+02
 3.740e+02 1.057e+03 4.090e+02 8.350e+02 6.970e+02 5.520e+02 7.110e+02
 6.640e+02 4.610e+02 5.270e+02 4.740e+02 3.520e+02 4.790e+02 3.460e+02
 8.460e+02 5.430e+02 3.950e+02 4.320e+02 5.760e+02 7.330e+02 8.200e+02
 5.380e+02 5.030e+02 5.470e+02 4.830e+02 4.630e+02 6.160e+02 4.720e+02
 3.770e+02 1.010e+03 9.280e+02 5.750e+02 5.710e+02 6.230e+02 4.240e+02
 4.540e+02 4.530e+02 6.250e+02 8.170e+02 4.430e+02 7.300e+02 6.430e+02
 6.450e+02 3.780e+02 4.100e+02 7.130e+02 5.500e+02 6.080e+02 4.960e+02
 5.890e+02 5.530e+02 5.390e+02 5.420e+02 4.780e+02 5.440e+02 7.060e+02
 5.240e+02 8.690e+02 5.480e+02 4.620e+02 6.060e+02 5.300e+02 4.110e+02
 5.280e+02 6.330e+02 7.000e+02 4.860e+02 7.430e+02 8.070e+02 5.230e+02
 5.620e+02 5.220e+02 5.160e+02 6.610e+02 6.300e+02 7.640e+02 6.660e+02
 6.570e+02 7.530e+02 5.740e+02 4.460e+02 5.090e+02 5.120e+02 8.160e+02
 6.320e+02 6.750e+02 7.250e+02 4.970e+02 7.320e+02 9.830e+02 5.590e+02
 5.080e+02 5.840e+02 3.850e+02 6.000e+02 7.540e+02 6.880e+02 4.520e+02
 4.980e+02 6.990e+02 7.100e+02 6.390e+02 6.030e+02 1.033e+03 8.230e+02
 7.700e+02 6.840e+02 7.800e+02 8.290e+02 5.010e+02 7.900e+02 8.080e+02
 7.490e+02 1.014e+03 7.710e+02 1.190e+03 9.900e+02 5.920e+02 7.510e+02
 6.050e+02 9.040e+02 5.580e+02]
WEATHER_DELAY [      nan 0.000e+00 1.020e+02 1.280e+02 2.130e+02 1.160e+02 1.110e+02
 1.070e+02 5.400e+01 1.700e+01 1.310e+02 9.300e+01 1.600e+01 1.560e+02
 4.000e+00 5.000e+01 2.800e+01 4.800e+01 5.500e+01 1.200e+02 2.400e+01
 2.500e+01 4.100e+01 7.100e+01 1.900e+01 1.800e+01 7.800e+01 8.400e+01
 1.500e+01 8.000e+00 9.000e+00 1.000e+00 6.100e+01 1.270e+02 1.400e+01
 4.200e+01 1.370e+02 2.300e+01 3.600e+01 3.000e+00 5.000e+00 2.700e+01
 1.250e+02 6.000e+00 1.200e+01 2.200e+01 6.200e+01 3.100e+01 7.000e+00
 2.000e+00 2.000e+01 3.500e+01 3.300e+01 1.100e+01 6.800e+01 1.030e+02
 7.500e+01 2.900e+01 3.000e+01 8.900e+01 8.100e+01 4.600e+01 5.100e+01
 1.000e+01 2.100e+01 8.300e+01 6.600e+01 8.200e+01 1.040e+02 4.300e+01
 1.500e+02 6.400e+01 4.500e+01 1.290e+02 1.340e+02 1.790e+02 7.200e+01
 1.050e+02 5.700e+01 6.000e+01 5.600e+01 8.000e+01 6.700e+01 1.300e+01
 1.580e+02 7.300e+01 1.620e+02 8.700e+01 3.900e+01 2.600e+01 3.400e+01
 4.900e+01 3.700e+01 1.530e+02 8.800e+01 3.200e+01 4.700e+01 2.270e+02
 1.150e+02 3.800e+01 9.700e+01 7.400e+01 1.540e+02 1.080e+02 1.520e+02
 1.780e+02 1.100e+02 8.500e+01 1.170e+02 6.300e+01 1.440e+02 1.060e+02
 4.530e+02 5.200e+01 1.760e+02 1.180e+02 5.900e+01 5.800e+01 1.400e+02
 4.400e+01 1.610e+02 4.000e+01 6.900e+01 9.200e+01 1.330e+02 1.700e+02
 2.400e+02 5.300e+01 1.710e+02 2.080e+02 1.810e+02 1.900e+02 1.890e+02
 1.360e+02 6.500e+01 1.690e+02 1.910e+02 3.520e+02 7.900e+01 7.600e+01
 8.600e+01 1.480e+02 2.970e+02 7.000e+01 1.510e+02 1.230e+02 1.010e+02
 2.650e+02 1.980e+02 1.090e+02 1.420e+02 1.840e+02 1.240e+02 2.770e+02
 1.850e+02 2.450e+02 2.260e+02 2.020e+02 2.300e+02 1.130e+02 2.470e+02
 3.180e+02 1.630e+02 1.830e+02 2.060e+02 1.460e+02 1.380e+02 2.240e+02
 1.570e+02 2.110e+02 1.320e+02 1.140e+02 9.600e+01 1.260e+02 9.800e+01
 2.810e+02 4.000e+02 3.510e+02 1.670e+02 2.040e+02 3.200e+02 2.990e+02
 2.540e+02 1.860e+02 1.880e+02 3.300e+02 1.430e+02 1.450e+02 1.720e+02
 2.070e+02 2.460e+02 1.470e+02 3.880e+02 4.560e+02 2.370e+02 1.770e+02
 2.870e+02 1.120e+02 3.710e+02 2.800e+02 2.520e+02 2.180e+02 7.700e+01
 2.090e+02 5.620e+02 1.970e+02 1.300e+02 3.540e+02 4.380e+02 2.780e+02
 1.390e+02 2.480e+02 2.140e+02 2.840e+02 9.100e+01 9.000e+01 9.500e+01
 2.280e+02 1.350e+02 2.000e+02 2.380e+02 3.150e+02 3.030e+02 1.000e+02
 3.450e+02 9.900e+01 1.210e+02 1.680e+02 2.010e+02 4.020e+02 1.740e+02
 1.930e+02 2.220e+02 9.400e+01 6.810e+02 3.230e+02 2.100e+02 2.640e+02
 2.550e+02 1.590e+02 1.870e+02 1.490e+02 2.200e+02 4.860e+02 1.660e+02
 2.860e+02 1.990e+02 2.580e+02 2.670e+02 2.500e+02 1.820e+02 2.710e+02
 1.650e+02 1.920e+02 2.230e+02 1.600e+02 1.800e+02 7.710e+02 2.510e+02
 2.620e+02 4.730e+02 1.410e+02 2.790e+02 2.030e+02 1.190e+02 1.950e+02
 5.100e+02 3.130e+02 3.390e+02 1.550e+02 6.280e+02 3.110e+02 9.380e+02
 6.370e+02 6.820e+02 7.350e+02 5.440e+02 5.490e+02 4.870e+02 4.570e+02
 3.160e+02 4.460e+02 4.160e+02 4.320e+02 2.150e+02 2.340e+02 1.730e+02
 7.230e+02 3.060e+02 3.970e+02 2.190e+02 2.830e+02 6.010e+02 5.940e+02
 4.220e+02 3.340e+02 2.160e+02 3.720e+02 3.420e+02 3.750e+02 2.750e+02
 2.600e+02 6.870e+02 2.440e+02 4.650e+02 3.120e+02 2.050e+02 2.420e+02
 2.730e+02 2.390e+02 4.800e+02 3.530e+02 4.680e+02 2.900e+02 2.610e+02
 2.360e+02 2.250e+02 8.190e+02 2.410e+02 2.490e+02 7.200e+02 4.030e+02
 1.940e+02 2.880e+02 3.190e+02 2.630e+02 3.350e+02 3.260e+02 2.940e+02
 3.020e+02 3.040e+02 3.140e+02 3.270e+02 3.470e+02 2.950e+02 3.900e+02
 6.660e+02 3.740e+02 5.540e+02 5.080e+02 2.320e+02 4.980e+02 1.116e+03
 2.690e+02 5.950e+02 3.670e+02 1.960e+02 6.640e+02 2.310e+02 3.630e+02
 3.790e+02 1.640e+02 2.700e+02 3.550e+02 3.600e+02 3.590e+02 2.920e+02
 3.490e+02 2.210e+02 6.030e+02 6.990e+02 1.220e+02 3.650e+02 3.050e+02
 2.820e+02 3.330e+02 2.930e+02 4.300e+02 4.010e+02 3.210e+02 2.350e+02
 5.130e+02 3.360e+02 5.050e+02 3.320e+02 9.870e+02 2.720e+02 8.630e+02
 7.650e+02 8.740e+02 1.002e+03 6.240e+02 4.290e+02 4.880e+02 4.910e+02
 3.000e+02 3.410e+02 1.000e+03 6.670e+02 3.500e+02 4.340e+02 6.510e+02
 9.240e+02 4.750e+02 2.120e+02 4.040e+02 1.750e+02 7.470e+02 3.070e+02
 7.080e+02 9.370e+02 9.770e+02 7.180e+02 1.152e+03 1.039e+03 6.430e+02
 2.850e+02 6.040e+02 3.310e+02 3.400e+02 3.100e+02 8.480e+02 4.500e+02
 4.050e+02 2.560e+02 4.240e+02 6.630e+02 3.610e+02 4.590e+02 2.740e+02
 3.370e+02 3.170e+02 2.680e+02 2.590e+02 4.200e+02 2.430e+02 4.190e+02
 4.780e+02 6.380e+02 4.810e+02 6.890e+02 2.170e+02 3.380e+02 3.810e+02
 3.930e+02 2.910e+02 3.830e+02 4.900e+02 4.610e+02 1.118e+03 9.420e+02
 3.240e+02 5.290e+02 1.052e+03 7.570e+02 9.660e+02 6.260e+02 6.110e+02
 2.570e+02 2.290e+02 9.730e+02 7.110e+02 5.470e+02 3.280e+02 4.550e+02
 4.110e+02 3.990e+02 3.460e+02 5.810e+02 2.760e+02 3.690e+02 7.120e+02
 2.960e+02 8.620e+02 5.830e+02 7.600e+02 3.090e+02 1.035e+03 5.900e+02
 7.000e+02 5.270e+02 4.940e+02 4.130e+02 6.290e+02 4.920e+02 4.120e+02
 7.440e+02 4.360e+02 4.670e+02 6.620e+02 7.040e+02 7.960e+02 7.250e+02

In [8]:
df_flights.loc[df_flights['CANCELLATION_REASON'].notnull()]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
32,2015,1,1,4,AS,136,N431AS,ANC,SEA,135,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
42,2015,1,1,4,AA,2459,N3BDAA,PHX,DFW,200,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
68,2015,1,1,4,OO,5254,N746SK,MAF,IAH,510,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
82,2015,1,1,4,MQ,2859,N660MQ,SGF,DFW,525,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
90,2015,1,1,4,OO,5460,N583SW,RDD,SFO,530,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5818090,2015,12,31,4,UA,1789,NaN,IAH,TPA,1955,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
5818157,2015,12,31,4,UA,222,NaN,SFO,LAX,2000,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
5818318,2015,12,31,4,AA,2245,N880AA,MIA,SAN,2019,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
5818777,2015,12,31,4,NK,416,N522NK,FLL,IAG,2155,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
5818843,2015,12,31,4,AA,1042,N870AA,SAN,MIA,2210,...,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN

CANCELLATION_REASON is just letters A, B this is useless remove this column.

The last 5 columns has many nulls and the same number of nulls let's see that.

In [9]:
df_flights.loc[df_flights['AIRLINE_DELAY'].notnull()]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
27,2015,1,1,4,NK,597,N528NK,MSP,FLL,115,...,607.0,25.0,0,0,NaN,25.0,0.0,0.0,0.0,0.0
30,2015,1,1,4,NK,168,N629NK,PHX,ORD,125,...,632.0,43.0,0,0,NaN,43.0,0.0,0.0,0.0,0.0
35,2015,1,1,4,HA,17,N389HA,LAS,HNL,145,...,610.0,15.0,0,0,NaN,0.0,0.0,15.0,0.0,0.0
50,2015,1,1,4,B6,1030,N239JB,BQN,MCO,307,...,520.0,20.0,0,0,NaN,20.0,0.0,0.0,0.0,0.0
52,2015,1,1,4,B6,2134,N307JB,SJU,MCO,400,...,730.0,85.0,0,0,NaN,0.0,0.0,85.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819023,2015,12,31,4,B6,1029,N328JB,MCO,BQN,2342,...,345.0,20.0,0,0,NaN,0.0,0.0,17.0,3.0,0.0
5819051,2015,12,31,4,AS,28,N477AS,SEA,MSP,2355,...,535.0,28.0,0,0,NaN,12.0,0.0,16.0,0.0,0.0
5819057,2015,12,31,4,NK,371,N661NK,FLL,BQN,2358,...,346.0,28.0,0,0,NaN,15.0,0.0,13.0,0.0,0.0
5819069,2015,12,31,4,B6,1248,N948JB,LAS,JFK,2359,...,1020.0,159.0,0,0,NaN,0.0,0.0,159.0,0.0,0.0
5819071,2015,12,31,4,B6,802,N589JB,SLC,MCO,2359,...,625.0,17.0,0,0,NaN,1.0,0.0,16.0,0.0,0.0

It's the delay in time made by AIR_SYSTEM and AIRLINE and WEATHER AND AIRCRAFT they have many null values so remove them .

In [10]:
df_flights.drop(df_flights.columns[25:31], axis=1, inplace=True)

We can't drop the rows which contains null in any column as for example the ELAPSED_TIME and AIR_TIME couldn't be recorded as the whole trip is canceled or diverted, so.

In [11]:
df_flights.loc[(df_flights['CANCELLED'] == True)]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
32,2015,1,1,4,AS,136,N431AS,ANC,SEA,135,...,NaN,NaN,1448,NaN,NaN,600,NaN,NaN,0,1
42,2015,1,1,4,AA,2459,N3BDAA,PHX,DFW,200,...,NaN,NaN,868,NaN,NaN,500,NaN,NaN,0,1
68,2015,1,1,4,OO,5254,N746SK,MAF,IAH,510,...,NaN,NaN,429,NaN,NaN,637,NaN,NaN,0,1
82,2015,1,1,4,MQ,2859,N660MQ,SGF,DFW,525,...,NaN,NaN,364,NaN,NaN,700,NaN,NaN,0,1
90,2015,1,1,4,OO,5460,N583SW,RDD,SFO,530,...,NaN,NaN,199,NaN,NaN,700,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5818090,2015,12,31,4,UA,1789,NaN,IAH,TPA,1955,...,NaN,NaN,787,NaN,NaN,2300,NaN,NaN,0,1
5818157,2015,12,31,4,UA,222,NaN,SFO,LAX,2000,...,NaN,NaN,337,NaN,NaN,2136,NaN,NaN,0,1
5818318,2015,12,31,4,AA,2245,N880AA,MIA,SAN,2019,...,NaN,NaN,2267,NaN,NaN,2256,NaN,NaN,0,1
5818777,2015,12,31,4,NK,416,N522NK,FLL,IAG,2155,...,NaN,NaN,1176,NaN,NaN,50,NaN,NaN,0,1
5818843,2015,12,31,4,AA,1042,N870AA,SAN,MIA,2210,...,NaN,NaN,2267,NaN,NaN,547,NaN,NaN,0,1

In [12]:
df_flights.loc[(df_flights['DIVERTED'] == True)]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED
724,2015,1,1,4,DL,716,N944DL,OMA,ATL,645,...,NaN,NaN,821,1447.0,4.0,1009,1451.0,NaN,1,0
1455,2015,1,1,4,OO,5237,N712SK,MKE,IAH,745,...,NaN,NaN,984,1456.0,9.0,1041,1505.0,NaN,1,0
2218,2015,1,1,4,WN,1966,N685SW,ATL,JAX,845,...,NaN,NaN,270,1214.0,5.0,1000,1219.0,NaN,1,0
2526,2015,1,1,4,EV,4555,N12552,IAH,HRL,902,...,NaN,NaN,295,1314.0,5.0,1017,1319.0,NaN,1,0
2866,2015,1,1,4,WN,1081,N214WN,MDW,OKC,930,...,NaN,NaN,691,1340.0,3.0,1135,1343.0,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5813860,2015,12,31,4,UA,1291,N596UA,LIH,LAX,1405,...,NaN,NaN,2615,NaN,NaN,2141,NaN,NaN,1,0
5815052,2015,12,31,4,EV,2785,N684JW,DFW,BRO,1530,...,NaN,NaN,482,NaN,NaN,1720,NaN,NaN,1,0
5816657,2015,12,31,4,UA,291,N76505,IAD,SMF,1735,...,NaN,NaN,2358,2212.0,4.0,2026,2216.0,NaN,1,0
5817342,2015,12,31,4,MQ,3060,N648MQ,DFW,FAR,1830,...,NaN,NaN,968,2247.0,3.0,2113,2250.0,NaN,1,0
5818160,2015,12,31,4,WN,5296,N419WN,MDW,ABQ,2000,...,NaN,NaN,1121,2319.0,6.0,2215,2325.0,NaN,1,0

We can drop the rows which contains null and shouldn't have true in canceled or diverted.

In [13]:
df_flights[(df_flights['CANCELLED'] == 1) | (df_flights['DIVERTED'] == 1)]=df_flights[(df_flights['CANCELLED'] == 1) | (df_flights['DIVERTED'] == 1)].fillna(0)

In [14]:
df_flights.isnull().sum()

YEAR                   0
MONTH                  0
DAY                    0
DAY_OF_WEEK            0
AIRLINE                0
FLIGHT_NUMBER          0
TAIL_NUMBER            0
ORIGIN_AIRPORT         0
DESTINATION_AIRPORT    0
SCHEDULED_DEPARTURE    0
DEPARTURE_TIME         0
DEPARTURE_DELAY        0
TAXI_OUT               0
WHEELS_OFF             0
SCHEDULED_TIME         0
ELAPSED_TIME           0
AIR_TIME               0
DISTANCE               0
WHEELS_ON              0
TAXI_IN                0
SCHEDULED_ARRIVAL      0
ARRIVAL_TIME           0
ARRIVAL_DELAY          0
DIVERTED               0
CANCELLED              0
dtype: int64

In [15]:
df_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IATA_CODE  322 non-null    object
 1   AIRPORT    322 non-null    object
 2   CITY       322 non-null    object
 3   STATE      322 non-null    object
 4   COUNTRY    322 non-null    object
 5   LATITUDE   319 non-null    float64
 6   LONGITUDE  319 non-null    float64
dtypes: float64(2), object(5)
memory usage: 17.7+ KB

In [16]:
df_airports['COUNTRY'].unique()

array(['USA'], dtype=object)

Airports has useless column (COUNTRY) which contain 1 distinct value "USA".

In [17]:
df_airports.drop('COUNTRY', axis=1, inplace=True)

drop the airports that i don't know it's geolocation. 3 rows deleted.

In [18]:
df_airports.dropna(inplace=True)

Now remove the outliers.

Integrating the flights with airlines where df_flights.AIRLINE -> df_airlines.IATA_CODE, one airline to many flights.

After that we don't need the IATA_CODE in our DF anymore as we have the airport name.

In [24]:
df_integrated = pd.merge(df_flights, df_airlines, left_on="AIRLINE", right_on="IATA_CODE")
df_integrated.drop(['IATA_CODE','AIRLINE_x'], axis=1, inplace=True)
df_integrated.rename(columns={"AIRLINE_y": "AIRLINE"}, inplace =True)

In [25]:
display(df_integrated)

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,...,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIRLINE
0,2015,1,1,4,98,N407AS,ANC,SEA,5,2354.0,...,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,Alaska Airlines Inc.
1,2015,1,1,4,135,N527AS,SEA,ANC,25,24.0,...,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,Alaska Airlines Inc.
2,2015,1,1,4,108,N309AS,ANC,SEA,45,41.0,...,173.0,1448,451.0,4.0,509,455.0,-14.0,0,0,Alaska Airlines Inc.
3,2015,1,1,4,122,N413AS,ANC,PDX,50,46.0,...,187.0,1542,504.0,3.0,525,507.0,-18.0,0,0,Alaska Airlines Inc.
4,2015,1,1,4,130,N457AS,FAI,SEA,115,107.0,...,186.0,1533,538.0,7.0,548,545.0,-3.0,0,0,Alaska Airlines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,769,N622VA,LGA,DAL,1855,1847.0,...,231.0,1381,2148.0,6.0,2200,2154.0,-6.0,0,0,Virgin America
5819075,2015,12,31,4,357,N284VA,BOS,SFO,1859,1849.0,...,357.0,2704,2158.0,6.0,2250,2204.0,-46.0,0,0,Virgin America
5819076,2015,12,31,4,1916,N853VA,SFO,LAS,1940,1933.0,...,58.0,414,2041.0,11.0,2110,2052.0,-18.0,0,0,Virgin America
5819077,2015,12,31,4,490,N840VA,LAX,LAS,1950,1948.0,...,39.0,236,2034.0,10.0,2055,2044.0,-11.0,0,0,Virgin America
5819078,2015,12,31,4,48,N281VA,OGG,SFO,2320,2318.0,...,258.0,2338,543.0,5.0,625,548.0,-37.0,0,0,Virgin America

Integrate result with airports.
df_flights.ORIGIN_AIRPORT, df_flights.DESTINATION_AIRPORT -> df_airports.IATA_CODE, one airport to many flights.

In [26]:
# integrate with the source airport first.
df_integrated_origin = pd.merge(df_integrated, df_airports, left_on="ORIGIN_AIRPORT", right_on="IATA_CODE")
df_integrated_origin.drop(['ORIGIN_AIRPORT','IATA_CODE'], axis=1, inplace=True)

In [27]:
display(df_integrated_origin)

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIRLINE,AIRPORT,CITY,STATE,LATITUDE,LONGITUDE
0,2015,1,1,4,98,N407AS,SEA,5,2354.0,-11.0,...,408.0,-22.0,0,0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619
1,2015,1,1,4,108,N309AS,SEA,45,41.0,-4.0,...,455.0,-14.0,0,0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619
2,2015,1,1,4,122,N413AS,PDX,50,46.0,-4.0,...,507.0,-18.0,0,0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619
3,2015,1,1,4,136,N431AS,SEA,135,0.0,0.0,...,0.0,0.0,0,1,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619
4,2015,1,1,4,134,N464AS,SEA,155,140.0,-15.0,...,558.0,-35.0,0,0,Alaska Airlines Inc.,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5328304,2015,12,31,4,1471,N200WN,FLL,1245,1245.0,0.0,...,1538.0,-12.0,0,0,Southwest Airlines Co.,Long Island MacArthur Airport,Islip,NY,40.79524,-73.10021
5328305,2015,12,31,4,5086,N903WN,BWI,1425,1458.0,33.0,...,1600.0,25.0,0,0,Southwest Airlines Co.,Long Island MacArthur Airport,Islip,NY,40.79524,-73.10021
5328306,2015,12,31,4,1178,N551WN,PBI,1510,1541.0,31.0,...,1831.0,21.0,0,0,Southwest Airlines Co.,Long Island MacArthur Airport,Islip,NY,40.79524,-73.10021
5328307,2015,12,31,4,1140,N427WN,MCO,1530,1537.0,7.0,...,1822.0,-3.0,0,0,Southwest Airlines Co.,Long Island MacArthur Airport,Islip,NY,40.79524,-73.10021
5328308,2015,12,31,4,5472,N7723E,MCO,1845,1839.0,-6.0,...,2121.0,-14.0,0,0,Southwest Airlines Co.,Long Island MacArthur Airport,Islip,NY,40.79524,-73.10021

Rename the inserted columns of the airport in integrated dataframe with origin_{column_name}

In [30]:
df_integrated_origin.rename(columns={"AIRPORT": "ORIGIN_AIRPORT", "CITY": "ORIGIN_CITY", "STATE": "ORIGIN_STATE", "LATITUDE": "ORIGIN_LATITUDE", "LONGITUDE": "ORIGIN_LONGITUDE"}, inplace=True)

Integrate with the destination airport.

In [31]:
df_full_integration = pd.merge(df_integrated_origin, df_airports, left_on="DESTINATION_AIRPORT", right_on="IATA_CODE")
df_full_integration.drop(['DESTINATION_AIRPORT','IATA_CODE'], axis=1, inplace=True)

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,ORIGIN_AIRPORT,ORIGIN_CITY,ORIGIN_STATE,ORIGIN_LATITUDE,ORIGIN_LONGITUDE,AIRPORT,CITY,STATE,LATITUDE,LONGITUDE
0,2015,1,1,4,98,N407AS,5,2354.0,-11.0,21.0,...,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,47.44898,-122.30931
1,2015,1,1,4,108,N309AS,45,41.0,-4.0,17.0,...,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,47.44898,-122.30931
2,2015,1,1,4,136,N431AS,135,0.0,0.0,0.0,...,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,47.44898,-122.30931
3,2015,1,1,4,134,N464AS,155,140.0,-15.0,17.0,...,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,47.44898,-122.30931
4,2015,1,1,4,114,N303AS,220,209.0,-11.0,15.0,...,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,47.44898,-122.30931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5323694,2015,12,29,2,2734,N884AS,2046,2037.0,-9.0,6.0,...,Meridian Regional Airport,Meridian,MS,32.33313,-88.75121,Hattiesburg-Laurel Regional Airport,Hattiesburg-Laurel,MS,31.46715,-89.33706
5323695,2015,12,30,3,2730,N880AS,1435,1616.0,101.0,4.0,...,Meridian Regional Airport,Meridian,MS,32.33313,-88.75121,Hattiesburg-Laurel Regional Airport,Hattiesburg-Laurel,MS,31.46715,-89.33706
5323696,2015,12,30,3,2734,N907EV,2046,2056.0,10.0,12.0,...,Meridian Regional Airport,Meridian,MS,32.33313,-88.75121,Hattiesburg-Laurel Regional Airport,Hattiesburg-Laurel,MS,31.46715,-89.33706
5323697,2015,12,31,4,2730,N907EV,1435,1421.0,-14.0,9.0,...,Meridian Regional Airport,Meridian,MS,32.33313,-88.75121,Hattiesburg-Laurel Regional Airport,Hattiesburg-Laurel,MS,31.46715,-89.33706
5323698,2015,12,31,4,2734,N907EV,2046,2020.0,-26.0,7.0,...,Meridian Regional Airport,Meridian,MS,32.33313,-88.75121,Hattiesburg-Laurel Regional Airport,Hattiesburg-Laurel,MS,31.46715,-89.33706

In [35]:
df_full_integration.rename(columns={"AIRPORT": "DEST_AIRPORT", "CITY": "DEST_CITY", "STATE": "DEST_STATE", "LATITUDE": "DEST_LATITUDE", "LONGITUDE": "DEST_LONGITUDE"}, inplace=True)
display(df_full_integration)

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,TAIL_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,...,ORIGIN_AIRPORT,ORIGIN_CITY,ORIGIN_STATE,ORIGIN_LATITUDE,ORIGIN_LONGITUDE,DEST_AIRPORT,DEST_CITY,DEST_STATE,DEST_LATITUDE,DEST_LONGITUDE
0,2015,1,1,4,98,N407AS,5,2354.0,-11.0,21.0,...,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,47.44898,-122.30931
1,2015,1,1,4,108,N309AS,45,41.0,-4.0,17.0,...,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,47.44898,-122.30931
2,2015,1,1,4,136,N431AS,135,0.0,0.0,0.0,...,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,47.44898,-122.30931
3,2015,1,1,4,134,N464AS,155,140.0,-15.0,17.0,...,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,47.44898,-122.30931
4,2015,1,1,4,114,N303AS,220,209.0,-11.0,15.0,...,Ted Stevens Anchorage International Airport,Anchorage,AK,61.17432,-149.99619,Seattle-Tacoma International Airport,Seattle,WA,47.44898,-122.30931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5323694,2015,12,29,2,2734,N884AS,2046,2037.0,-9.0,6.0,...,Meridian Regional Airport,Meridian,MS,32.33313,-88.75121,Hattiesburg-Laurel Regional Airport,Hattiesburg-Laurel,MS,31.46715,-89.33706
5323695,2015,12,30,3,2730,N880AS,1435,1616.0,101.0,4.0,...,Meridian Regional Airport,Meridian,MS,32.33313,-88.75121,Hattiesburg-Laurel Regional Airport,Hattiesburg-Laurel,MS,31.46715,-89.33706
5323696,2015,12,30,3,2734,N907EV,2046,2056.0,10.0,12.0,...,Meridian Regional Airport,Meridian,MS,32.33313,-88.75121,Hattiesburg-Laurel Regional Airport,Hattiesburg-Laurel,MS,31.46715,-89.33706
5323697,2015,12,31,4,2730,N907EV,1435,1421.0,-14.0,9.0,...,Meridian Regional Airport,Meridian,MS,32.33313,-88.75121,Hattiesburg-Laurel Regional Airport,Hattiesburg-Laurel,MS,31.46715,-89.33706
5323698,2015,12,31,4,2734,N907EV,2046,2020.0,-26.0,7.0,...,Meridian Regional Airport,Meridian,MS,32.33313,-88.75121,Hattiesburg-Laurel Regional Airport,Hattiesburg-Laurel,MS,31.46715,-89.33706

In [38]:
df_full_integration.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'FLIGHT_NUMBER', 'TAIL_NUMBER',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'AIRLINE', 'ORIGIN_AIRPORT',
       'ORIGIN_CITY', 'ORIGIN_STATE', 'ORIGIN_LATITUDE', 'ORIGIN_LONGITUDE',
       'DEST_AIRPORT', 'DEST_CITY', 'DEST_STATE', 'DEST_LATITUDE',
       'DEST_LONGITUDE'],
      dtype='object')